@model ProductOrder

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="row">

        
    </dl>
</div>
<div>
    <h1>@Model.ProductId</h1>
    @*<a asp-action="Delete" asp-route-id="@Model.Id">Edit</a> |*@
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
