@model IEnumerable<DentalShop.Models.ProductOrder>

@{ ViewData["Title"] = "Details"; }

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Title</span>
            </th>
            <th>
                <span>Image</span>
            </th>
            <th>
                <span>Count</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

<tr>

    <td>
        <p>@item.Product.Title</p>
    </td>
    <td>
        <img src="@item.Product.CoverImage" width="100" alt="Alternate Text" />
    </td>
    <td>
        <p>@item.Count</p>
    </td>

</tr>}
    </tbody>
</table>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
