@model IEnumerable<DentalShop.Models.ProductOrder>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <h3>@item.Product.Title</h3>
                </td>
                <td>
                    <h4>@item.Count</h4>
                </td>
                <td>
                    <img src="@item.Product.CoverImage" width="100" alt="Alternate Text" />
                </td>
            </tr>
        }
    </tbody>

</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
